@font-face {
  font-family: "Jost-hairline";
  src: local("Jost100Hairline"),
    url(./fonts/Jost/Jost100Hairline.otf) format("truetype");
}

@font-face {
  font-family: "Jost-hairline-i";
  src: local("Jost100HairlineItalic"),
    url(./fonts/Jost/Jost100HairlineItalic.otf) format("truetype");
}

@font-face {
  font-family: "Jost-thin";
  src: local("Jost200Thin"),
    url(./fonts/Jost/Jost200Thin.otf) format("truetype");
}

@font-face {
  font-family: "Jost-thin-i";
  src: local("Jost200ThinItalic"),
    url(./fonts/Jost/Jost200ThinItalic.otf) format("truetype");
}

@font-face {
  font-family: "Jost-light";
  src: local("Jost300Light"),
    url(./fonts/Jost/Jost300Light.otf) format("truetype");
}

@font-face {
  font-family: "Jost-light-i";
  src: local("Jost300LightItalic"),
    url(./fonts/Jost/Jost300LightItalic.otf) format("truetype");
}

@font-face {
  font-family: "Jost-book";
  src: local("Jost400Book"),
    url(./fonts/Jost/Jost400Book.otf) format("truetype");
}

@font-face {
  font-family: "Jost-book-i";
  src: local("Jost400BookItalic"),
    url(./fonts/Jost/Jost400BookItalic.otf) format("truetype");
}

@font-face {
  font-family: "Jost-medium";
  src: local("Jost500Medium"),
    url(./fonts/Jost/Jost500Medium.otf) format("truetype");
}

@font-face {
  font-family: "Jost-medium-i";
  src: local("Jost500MediumItalic"),
    url(./fonts/Jost/Jost500MediumItalic.otf) format("truetype");
}

@font-face {
  font-family: "Jost-semi";
  src: local("Jost600Semi"),
    url(./fonts/Jost/Jost600Semi.otf) format("truetype");
}

@font-face {
  font-family: "Jost-semi-i";
  src: local("Jost600SemiItalic"),
    url(./fonts/Jost/Jost600SemiItalic.otf) format("truetype");
}

@font-face {
  font-family: "Jost-bold";
  src: local("Jost700Bold"),
    url(./fonts/Jost/Jost700Bold.otf) format("truetype");
}

@font-face {
  font-family: "Jost-bold-i";
  src: local("Jost700BoldItalic"),
    url(./fonts/Jost/Jost700BoldItalic.otf) format("truetype");
}

@font-face {
  font-family: "Jost-heavy";
  src: local("Jost800Heavy"),
    url(./fonts/Jost/Jost800Heavy.otf) format("truetype");
}

@font-face {
  font-family: "Jost-heavy-i";
  src: local("Jost800HeavyItalic"),
    url(./fonts/Jost/Jost800HeavyItalic.otf) format("truetype");
}

@font-face {
  font-family: "Jost-black";
  src: local("Jost900Black"),
    url(./fonts/Jost/Jost900Black.otf) format("truetype");
}

@font-face {
  font-family: "Jost-black-i";
  src: local("Jost900BlackItalic"),
    url(./fonts/Jost/Jost900BlackItalic.otf) format("truetype");
}
