// neutral colors
$neutral10: #f8f9fa;
$neutral20: #e9ecef;
$neutral30: #dee2e6;
$neutral40: #ced4da;
$neutral50: #adb5bd;
$neutral60: #6c757d;
$neutral70: #495057;
$neutral80: #343a40;
$neutral90: #212529;

// primary colors
$primary10: #e5f5ff;
$primary20: #b3e0ff;
$primary30: #80ccff;
$primary40: #4db7ff;
$primary50: #1aa3ff;
$primary60: #0089e6;
$primary70: #006bb3;
$primary80: #004c80;
$primary90: #002e4d;
